.background {
  background: linear-gradient(45deg, #BFCFE7, #F8EDFF);
  overflow: hidden;
}

/* Criar padrão */
.background::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle, rgba(61, 59, 64, 0.1) 20%, transparent 60%),
              repeating-linear-gradient(45deg, rgba(61, 59, 64, 0.1) 0px, rgba(61, 59, 64, 0.1) 1px, transparent 1px, transparent 100px);
  pointer-events: none;
}
