<div class="cube">
  <div class="cube__face cube__face--front flex items-center justify-center">
    <i class="fa-solid fa-dolly text-3xl"></i>
  </div>
  <div class="cube__face cube__face--back flex items-center justify-center">
    <i class="fa-solid fa-boxes-stacked text-3xl"></i>
  </div>
  <div class="cube__face cube__face--right flex items-center justify-center">
    <i class="fa-brands fa-github"></i>
    <span class="text-xs">
      /ms-daniel
    </span>
  </div>
  <div class="cube__face cube__face--left flex items-center justify-center">
    <i class="fa-brands fa-github"></i>
    <span class="text-xs">
      /ms-daniel
    </span>
  </div>
  <div class="cube__face cube__face--top flex items-center justify-center">
    <i class="fa-brands fa-github"></i>
    <span class="text-xs">
      /ms-daniel
    </span>
  </div>
  <div class="cube__face cube__face--bottom flex items-center justify-center">
    <i class="fa-brands fa-github"></i>
    <span class="text-xs">
      /ms-daniel
    </span>
  </div>
</div>
