:host {
  --cube-size: 10em;
}

.cube {
  width: var(--cube-size);
  height: var(--cube-size);
  top: 0;
  position: absolute;
  transform-style: preserve-3d;
  transform: rotateX(-30deg) rotateY(-45deg);
  animation: moveX 10s linear 0s infinite alternate, moveY 5s linear 0s infinite alternate;
}

.cube__face {
  position: absolute;
  width: var(--cube-size);
  height: var(--cube-size);
  background: #d4bc89;
  border: 2px solid #a08f73;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.cube__face--front  { transform: translateZ(calc(var(--cube-size) / 2)); }
.cube__face--back   { transform: rotateY(180deg) translateZ(calc(var(--cube-size) / 2)); }
.cube__face--right  { transform: rotateY( 90deg) translateZ(calc(var(--cube-size) / 2)); }
.cube__face--left   { transform: rotateY(-90deg) translateZ(calc(var(--cube-size) / 2)); }
.cube__face--top    { transform: rotateX( 90deg) translateZ(calc(var(--cube-size) / 2)); }
.cube__face--bottom { transform: rotateX(-90deg) translateZ(calc(var(--cube-size) / 2)); }

@keyframes moveX {
  from {
    left: calc(100vw - var(--cube-size));
    transform: rotateX(-30deg) rotateY(-45deg);
  }
  to {
    left: 0;
    transform: rotateX(-30deg) rotateY(315deg);
  }
}
@keyframes moveY {
  from {
    top: calc(100vh - var(--cube-size));
    transform: rotateX(0deg) rotateY(-45deg);
  }
  to {
    top: 0;
    transform: rotateX(360deg) rotateY(-45deg);
  }
}

