<a class="relative flex h-32 items-center rounded p-2 pb-1 text-teal-400 border-b-4 border-light dark:bg-gray-900 dark:text-white hover:shadow-lg hover:shadow-indigo-500/50"
  [routerLink]="link"
  routerLinkActive="active"
>
  <div class="">
    <span class="material-symbols-outlined text-8xl dark:text-light">{{ icon }}</span>
    <!-- <span class="text-xl align-top font-mono">Iventory</span> -->
  </div>
  <div class="text-center flex flex-col w-full">
    <span class="text-6xl dark:text-main-ligh-blue">{{ total }}</span>
    <span class="ms-2">{{ legend }}</span>
  </div>
</a>
