<a class="relative flex h-32 items-center rounded background p-2 pb-1 text-gray-400 border-b-4 border-indigo-500 "
  [routerLink]="link"
  routerLinkActive="active"
>
  <div class="">
    <span class="material-symbols-outlined text-8xl">{{ icon }}</span>
    <!-- <span class="text-xl align-top font-mono">Iventory</span> -->
  </div>
  <div class="text-center flex flex-col w-full">
    <span class="text-6xl number-color">{{ total }}</span>
    <span class="ms-2">{{ legend }}</span>
  </div>
</a>
