<footer class="relative bottom-0 bg-white shadow dark:bg-gray-800 md:z-50 z-30 w-full">
  <div class="mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between">
    <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400"> &copy; {{ currentYear }} <a href="https://github.com/ms-daniel" target="_blank" class="hover:underline">Carlos Daniel</a>. All Rights Reserved.
  </span>
  <ul class="flex flex-wrap items-center mt-3 text-sm font-medium text-gray-500 dark:text-gray-400 sm:mt-0">
      <li>
          <a href="https://github.com/ms-daniel/Gerencia-de-Estoque/" target="_blank" class="hover:underline me-4 md:me-6">About</a>
      </li>
      <!-- <li>
          <a href="#" class="hover:underline me-4 md:me-6">Privacy Policy</a>
      </li> -->
      <li>
          <a href="https://github.com/ms-daniel/Gerencia-de-Estoque/blob/main/LICENSE.txt" target="_blank" class="hover:underline me-4 md:me-6">Licensing</a>
      </li>
      <li>
        <a href="https://github.com/ms-daniel" target="_blank" class="hover:underline me-4 md:me-6">GitHub</a>
      </li>
      <li>
          <a href="mailto:ms_danniel@outlook.com" class="hover:underline me-4 md:me-6">Contact</a>
      </li>
  </ul>
  </div>
</footer>
