<div class="p-4 rounded-lg">
  <div class="grid grid-cols-1 lg:grid-cols-3 sm:grid-cols-2 gap-4 mb-4">
    <app-card-button icon="inventory" legend="Registered Items" link="/home" [total]="99"></app-card-button>
    <app-card-button icon="store" legend="My Stores" link="/home" [total]="2"></app-card-button>
    <app-card-button icon="groups_2" legend="Suppliers" link="/home" [total]="53"></app-card-button>
  </div>

  <div class="flex items-center justify-center mb-4 rounded bg-gray-50 dark:bg-gray-800">
    <app-sales-graph class="w-full"></app-sales-graph>
  </div>

  <div class="grid grid-cols-1 lg:grid-cols-2 gap-4 mb-4">
    <app-simple-table
      title="Last Sold"
      [data]="[
        { name: 'Product A', quantity: 50, date: '2024-08-13' },
        { name: 'Product B', quantity: 30, date: '2024-08-12' },
        { name: 'Product C', quantity: 75, date: '2024-08-11' }
      ]">
    </app-simple-table>

    <app-simple-table
      title="Last Purchased"
      [data]="[
        { name: 'Product A', quantity: 50, date: '2024-08-13' },
        { name: 'Product B', quantity: 30, date: '2024-08-12' },
        { name: 'Product C', quantity: 75, date: '2024-08-11' }
      ]">
    </app-simple-table>
  </div>
 </div>
