<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
  <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
      <tr>
        <th *ngFor="let item of columns" scope="col" class="md:px-6 px-4 py-3 text-left text-sm font-medium text-gray-900 dark:text-gray-100 bg-gray-100 dark:bg-gray-700 border-b border-gray-200 dark:border-gray-600">
          {{item}}
        </th>
        <th class="md:px-6 px-4 py-3 text-left text-sm font-medium text-gray-900 dark:text-gray-100 bg-gray-100 dark:bg-gray-700 border-b border-gray-200 dark:border-gray-600">
          Actions
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of data" class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700">
        <td *ngFor="let column of columns" class="md:px-6 px-4 md:py-4 py-2 text-sm text-gray-700 dark:text-gray-300 border-b border-gray-200 dark:border-gray-600">
          {{ item[column] }}
        </td>
        <td class="md:px-4 px-2 md:py-4 py-2 text-sm text-gray-700 dark:text-gray-300 border-b border-gray-200 dark:border-gray-600">
          <a routerLink="" class="text-white font-medium rounded-lg text-sm text-center">
            <span class="material-symbols-outlined">
              edit
            </span>
          </a>
          <a routerLink="" class="text-red-600 font-medium rounded-lg text-sm text-center md:mx-2">
            <span class="material-symbols-outlined">
              delete_forever
            </span>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
